{{#> base title = "Account Settings", banner_title = "Account Settings" ~}}
    <h2>User Settings</h2>
    <form method="post">
        <div style="overflow: auto">
            <table>
                <tbody>
                <tr>
                    <td><b>Change Password</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Current password:</td>
                    <td><input type="password" name="cpwd" value="" required></td>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input type="password" name="npwd" value="" required></td>
                </tr>
                <tr>
                    <td>Confirm new password:</td>
                    <td><input type="password" name="cnpwd" value="" required></td>
                </tr>
                <tr><td>&nbsp;</td><td></td></tr>
                <tr>
                    <td>
                        <input type="submit" name="submit" value="Submit">
                    </td>
                    <td>
                        <b>{{ msg }}</b>
                    </td>
                </tr>
                <tr><td>&nbsp;</td><td></td></tr>
                <tr>
                    <td><b>Linked Accounts</b></td>
                    <td></td>
                </tr>
                {{#each oauth}}
                <tr>
                    <td>{{ type_ }} ({{ oid.as_ref().unwrap_or(&"Unknown".to_string()) }})</td>
                    <td><a>Unlink</a></td>
                </tr>
                {{/each}}
                <tr>
                    <td><a href="">Link a Telegram account</a></td>
                    <td></td>
                </tr>
                <tr><td><a href="{{ base_url }}/oauth/aosc/new">Link an AOSC account</a></td><td></td></tr>
                </tbody>
            </table>
        </div>
    </form>
    <a href="{{ base_url }}/logout">Log Out</a>
{{/base }}
