{{#> base banner_subtitle = "" ~}}
    <!-- Details -->
    <div style="overflow: auto">
        <table>
            <tbody>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    {{ request.id }}
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    {{ request.name }}
                </td>
            </tr>
            <tr>
                <td>
                    Type
                </td>
                <td>
                    {{#if request.type_ == "PAKREQ" }}
                    New
                    {{else if request.type_ == "UPDREQ" }}
                    Update
                    {{else if request.type_ == "OPTREQ" }}
                    Optimize
                    {{else}}
                    ???
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    Published Date
                </td>
                <td>
                    {{ request.pub_date.format("%Y-%m-%d").to_string() }}
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    {{ request.description.as_ref().unwrap_or(&"N/A".to_string()) }}
                </td>
            </tr>
            <tr>
                <td>
                    Requested By
                </td>
                <td>
                    {{ request.requester }}
                </td>
            </tr>
            <tr>
                <td>
                    Claimed By
                </td>
                <td>
                    {{ request.packager }}
                </td>
            </tr>
            <tr>
                <td>
                    ETA
                </td>
                <td>
                    {{ request.note.as_ref().unwrap_or(&"N/A".to_string()) }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{{/base }}
