{{#> base banner_subtitle = "" ~}}
    <!-- Details -->
    <div style="overflow: auto">
        <table class="requests">
            <tbody>
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    {{ request.id }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    {{ request.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Type</b>
                </td>
                <td>
                    {{#if request.type_ == "PAKREQ" }}
                    New
                    {{else if request.type_ == "UPDREQ" }}
                    Update
                    {{else if request.type_ == "OPTREQ" }}
                    Optimize
                    {{else}}
                    ???
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Published Date</b>
                </td>
                <td>
                    {{ request.pub_date.format("%Y-%m-%d").to_string() }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Description</b>
                </td>
                <td>
                    {{ request.description.as_ref().unwrap_or(&"N/A".to_string()) }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Requested By</b>
                </td>
                <td>
                    {{ request.requester }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Claimed By</b>
                </td>
                <td>
                    {{ request.packager.as_ref().unwrap_or(&"N/A".to_string()) }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>ETA</b>
                </td>
                <td>
                    {{ request.note.as_ref().unwrap_or(&"N/A".to_string()) }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{{/base }}
